header {
  background-color: #fafafa;
  border-bottom: 1px solid #999;  
  margin-bottom: 0 !important;
  padding-top: 5px;
}

header h1 {
  margin: 0;  
}

header.small h1 {
  padding-left: 20px;
}

header.small {
  height: 50px;
}

header.large {
  height: 100px;
}

.avatar {
  border: 1px solid #999;
  border-radius: 8px;
  height: 32px;
  width: 32px;
}

.bordered {
  border: 1px solid #ccc;
}

.icon-list .contact-row {
  cursor: pointer;  
}

.icon-list .contact-row:hover {
  background-color: #FFFFCC;
}

.icon-list .contact-row td {
  line-height: 32px;
}

.icon-list .contact-row td:first-child,
.icon-list .contact-row td:last-child {
  padding: 5px 20px 0 20px;
}

.icon-list .contact-row td:last-child {
  text-align: right;
}

.icon-list .contact-row .fa-chevron-right {
  color: #999;
}

.margin-top {
  margin-top: 20px;
}

.muted {
  color: #777;
}

.page-title {
  background-color: #efefef;
}